.popup {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(107, 107, 107, 0.83);
  overflow: hidden;
}
.popup.open {
  height: 100%;
}

.popup_inner {
  border-radius: 15px; 
  background: #F8E627;
  overflow: hidden;
  transition-property: opacity position;
  transition-duration: 0.5s;
  /* -webkit-perspective: 100px; perspective: 100px; */
}

.popup_inner.open {
  opacity: 1;
  width: 82%;
  height: 700px;
  padding: 0;
  box-shadow: 0 10px 100px;
}

.popup_inner img {
  display: inline-block;
}

.popup_inner .gallery {
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  transition-property: height opacity;
  transition-delay: 0.3s;
  transition-duration: 0.7s;
  opacity: 0;
  height: 0;
  top: 664px;
}

.popup_inner.open .gallery {
  height: 360px;
  position: absolute;
  bottom: 0;
  width: 78%;
  opacity: 1;
  padding: 2%;
  top: 304px;
}

.popup_inner .gallery img {
  padding: 30px 15px;
  border-radius: 25px;
  /* position: relative; */
  top: 70px;
  right: 70px;
}

.popup_inner .gallery:nth-child(1) {
  margin-left: 170px;  
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

.navbar h1, h2{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;  
}

.navbar h1 {
  padding-left: 120px;
  font-size: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar h2 {
  padding-left: 24px;
  color: #919191e3;
  font-size: 18px;
  font-weight: normal;
}

.navbar .buttons {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#navbar.over {
  position: absolute;
  top: 440px;
}

.gallery {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }

.gallery .img:nth-child(1),
.gallery .img:nth-child(4) {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
}

.gallery .img {
  order: 0;
  flex: 0 1 45%;
  align-self: auto;
}
.gallery img,
.gallery .img {
  height: 15%;
  align-content: space-around;
}

.gallery .img:nth-child(2),
.gallery .img:nth-child(5) {
  margin-bottom: 20px;
}

.body {
  border-bottom: solid 2px #d8d8d896;
  padding-bottom: 35px;
  width: 65%;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

.body h2 {
  font-size: 16px;
}

.body span {
  color: #323232e3;  
}


.articlesWrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 570px;
  display: flex;
  transition-property: width;
}

#articles.over {
  width: 100%;
  border-radius: 0;
  background: #fff;
  padding-left: 5%;
}


.article:after {
  content: "";
  display: table;
  clear: both;
}

.mainArticle {
  float: left;
  padding-left: 85px;
  margin-right: 150px;
  max-width: 926px;
}
.mainArticle .gallery {
  width: 65%;
}
.mainArticle .gallery img {
  height: 100%;
  padding: 10px;
  border-radius: 16px;
}
.mainArticle .header {
  width: 65%;
}

.closed .gallery {
  opacity: 0;
  height: 0;
  transition: all 0.6s;
}

.open .bgNumStyle {
  visibility: hidden;
}
.sideArticle {
  width: 300px;
  background-color: rgb(236, 218, 31);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 9%;
}

.popup_inner.open button,
.popup_inner.open h2 {
  visibility: hidden;
}

.popup_inner.open h1 {
  padding: 120px 100px;
  transition-duration: 0.7s;
}

.sideArticleWrapper {
  position: absolute;
  top: 560px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.footer {
  width: 65%;
}

.sideArticle h2{
  font-size: 16px;
}