

.popup {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(107, 107, 107);
  overflow: hidden;
}
.popup.open {
  height: 100%;  
}

.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  border-radius: 15px; 
  background: yellow;
  overflow: hidden;
}

.popup_inner img {
  display: inline-block;
  width: 15%;
}

.popup_inner .header p.open {
  position: relative;
  top: 0;
  opacity: 1;  
}

.popup_inner .header p {
  position: relative;
  top: 180px;
  opacity: 0;
  transition-property: opacity position;
  transition-duration: 1.5s;
}

.popup_inner .header {
  font-size: 30px;
  font-weight: bold;
  left: 180px;
  top: 170px;
  position: relative;
}

.popup_inner .gallery {
  padding-left: 170px;
  background: white;
  overflow: hidden;
  border-radius: 15px;
  transition-property: height opacity;
  transition-duration: 0.7s;
  opacity: 0;
}

.popup_inner .gallery.open {
  height: 380px;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1;
}

.popup_inner .gallery img {
  padding: 15px;
  border-radius: 25px;
  position: relative;
  top: 70px;
  right: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.navbar h1, h2{
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar h1 {
  padding-left: 120px;
}

.navbar h2 {
  padding-left: 24px;
  color: gray;
}

.navbar .buttons {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#navbar.over {
  position: absolute;
  top: 440px;
}

.gallery {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }

.gallery .img:nth-child(1),
.gallery .img:nth-child(4) {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
}

.gallery .img {
  order: 0;
  flex: 0 1 45%;
  align-self: auto;
}
.gallery img,
.gallery .img {
  height:45%;
  align-content: space-around;
}

.gallery .img:nth-child(2),
.gallery .img:nth-child(5) {
  margin-bottom: 20px;
}

.body {
  border-bottom: solid 2px #d8d8d896;
  padding-bottom: 35px;
  width: 641.25px;
}

.body span {
  color: grey;  
}


.articlesWrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 660px;
  display: flex;
  transition-property: width;
  transition-duration: 0.5s;
}

#articles.over {
  width: 100%;
  border-radius: 0;
  background: white;  
}


.article:after {
  content: "";
  display: table;
  clear: both;
}

.mainArticle {
  float: left;
  padding-left: 85px;
  margin-right: 150px;
  max-width: 926px;
}
.mainArticle .gallery {
  width: 641.25px;
}
.mainArticle .gallery img {
  height: 100%;
  padding: 10px;
  border-radius: 16px;
}
.mainArticle .header {
  width: 641.25px;
}
@media  screen and (min-width: 1920px) {
  .gallery img,
  .gallery .img{
    height: 60%;
  }
  .mainArticle .gallery .img {
    height: 45%;
  }
}