
.App {
    background-image: url(https://s3-eu-west-1.amazonaws.com/production-hairdressr/fe-dummy/cover.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto Slab', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: white;
  border-radius: 15px; 
  background: yellow; 
}

.popup_inner img {
  display: inline-block;
  width: 15%;
}

.owner img {
  width: 50px;
  border-radius: 50px;
  vertical-align: middle;
}

.owner span {
  color: grey;
  padding-left: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  transition-property: top;
  transition-duration: 0.33333333s;
}

.navbar h1, h2{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar h1 {
  padding-left: 120px;
}

.navbar h2 {
  padding-left: 24px;
  color: gray;
}

.navbar .buttons {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}


.popup_inner .header {
  background: yellow;
  padding: 10px;
  font-size: 30px;
  padding-left: 190px;
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 120px;
  border-radius: 15px;
}

.popup_inner .gallery {
  padding-top: 100px;
  padding-left: 170px;
  height: 350px;
  background: white;
  overflow: hidden;
  padding-bottom: 15px;
  border-radius: 15px;
}

.popup_inner .gallery img {
  padding: 15px;
  border-radius: 25px;
}


.gallery {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }

.gallery .img:nth-child(1),
.gallery .img:nth-child(4) {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
}

.gallery .img {
  order: 0;
  flex: 0 1 45%;
  align-self: auto;
}

.gallery img,
.gallery .img {
  height:45%;
  align-content: space-around;
}

.gallery .img:nth-child(2),
.gallery .img:nth-child(5) {
  margin-bottom: 20px;
}

.body {
  border-bottom: solid 2px #d8d8d896;
  padding-bottom: 35px;
  
}

.body span {
  color: grey;  
}

.header {
  margin-bottom: 35px;
}

.header h2{
  margin-bottom: 0px;
}

.owner {
  padding-top: 35px;
}

.reactions {
  float: right;
  margin-top: 15px;
}

#navbar.over {
  top: -120px;
}


.articlesWrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 660px;
  display: flex;
  transition-property: width;
  transition-duration: 0.5s;
}

#articles.over {
  width: 100%;
  border-radius: 0;
  background: white;  
}

.articles {
  border-radius: 15px;
  text-align: left;
  margin: 0 auto;
  background: white;
}

.mainArticle {
  float: left;
  width: 50%;
  padding-left: 85px;
  margin-right: 90px;
  max-width: 926px;
}


.sideArticle {
  float: left;
  width: 25%;
  background: yellow;
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 48px;
  margin-top: -70px;
  max-width: 333px;
}

.sideArticle button {
  padding: 20px 90px;
  margin-left: 25px;
  background: yellow;
  border: solid 1px black;
  margin-top: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.article:after {
  content: "";
  display: table;
  clear: both;
}

.mainArticle .gallery img {
  height: 100%;
  padding: 10px;
  border-radius: 16px;
}
